@page
@model AlMomento.Pages.Noticias.Gestionar.IndexModel

@{
    ViewData["Title"] = "Gestionar las noticias del sitio";
}

<h1>Gestionar las noticias</h1>

<p>
    <a asp-page="Create">Publicar una noticia</a>
</p>

<hr />

<h3 class="mt-4 mb-2">
    Noticias publicadas:
</h3>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    @foreach (var noticia in Model.Noticia)
    {
        <div class="col">
            <div class="card @(noticia.Estado? "border-info" : "border-secondary") shadow">
                <img src="@noticia.Foto" class="card-img-top" alt="@noticia.FotoPie">
                <div class="card-body">
                    <h5 class="card-title">@noticia.Titulo</h5>
                    <h6 class="card-subtitle mt-1 mb-2 text-muted">
                        <small>
                            @noticia.Categoria
                        </small>
                    </h6>
                    <p class="card-text">
                        @if(noticia.Sumario.Length > 250)
                        {
                            @(noticia.Sumario.Substring(0, 250) + "...")
                        }
                        else
                        {
                            @noticia.Sumario
                        }
                    </p>
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-outline-primary" role="button" title="Editar noticia" asp-page="./Edit" asp-route-id="@noticia.ID">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-info" role="button" title="Detalles de la noticia" asp-page="./Details" asp-route-id="@noticia.ID">
                                <i class="bi bi-info-circle-fill"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-danger" role="button" title="Eliminar noticia" asp-page="./Delete" asp-route-id="@noticia.ID">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </div>
                        <small class="text-body-secondary">@noticia.Autor</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>