@page
@model AlMomento.Pages.Noticias.Categorias.DeportesModel
@{
    ViewData["Title"] = "Noticias deportivas";
}


<div class="mb-4">
    <h2>Noticias deportivas</h2>
    <hr />
    <div class="row row-cols-1 g-3">
        @foreach (var noticia in Model.NoticiasDeportes)
        {
            <div class="col col-lg-8">
                <a class="text-dark text-decoration-none" asp-page="/Noticias/Ver" asp-route-id="@noticia.ID">
                    <div class="card border-info shadow h-100">
                        <div class="row g-0 h-100">
                            <div class="col-md-8 d-flex flex-column justify-content-between">
                                <div class="card-body">
                                    <h6 class="card-subtitle text-muted">
                                        <small>
                                            @noticia.Categoria
                                        </small>
                                    </h6>
                                    <h5 class="card-title">@noticia.Titulo</h5>
                                    <p class="card-text mt-5">
                                        @noticia.Autor
                                    </p>
                                </div>
                                <div class="card-footer text-body-secondary">
                                    <div class="d-flex justify-content-start align-content-center">
                                        <small title="Cantidad de visitas">
                                            <i class="bi bi-eye-fill"></i>
                                            <span class="fw-semibold">@noticia.CantidadVisitas</span>
                                        </small>
                                        <small class="ms-3" title="Cantidad de me gusta">
                                            <i class="bi bi-heart-fill"></i>
                                            <span class="fw-semibold">@noticia.CantidadLikes</span>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="@noticia.Foto" class="img-fluid rounded-end h-100" alt="@noticia.FotoPie">
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>